.Incontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .Incontainer label {
    font-weight: 700;
    font-size: 1rem;
    color: #313131;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .Incontainer input {
    border-radius: 5px;
    border: 1px solid #dddddd;
    outline: none;
    padding: 10px 15px;
    color: #000;
  }
  
  .Incontainer input:hover {
    border-color: #ccc;
  }
  
  .Incontainer input:focus {
    border-color: #9900ff;
  }